.msg_cotainer1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 750px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 750px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #00FF00;
    padding: 10px;
    position: relative;
}